@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";
@import "animation.css";

/* Components */
@import "components/status-bar.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";
@import "components/nav.css";
@import "components/user-components.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Sansita Swashed", cursive;
  color: #fff;
  padding: 0px 10px;
  cursor: default;
  letter-spacing: 1px;
}
