@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";
@import "animation.css";

/* Components */
@import "components/status-bar.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";

/* Screens */
@import "screens/login.css";

body {
  font-family: "Sansita Swashed", cursive;
  color: #fff;
  padding: 0px 25px;
}
