.night-sky {
  height: 100vh;
  background: url(moon.png) no-repeat center;
  background-size: cover;
}

.chats-screen {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -20px;
}

.chats-screen::-webkit-scrollbar {
  width: 15px;
}

.chats-screen::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
