.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  box-sizing: border-box;
  padding: 15px 20px;
  background-color: var(--gray30);
}

.nav:hover {
  background-color: var(--gray);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

.nav__link {
  position: relative;
}
