.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  margin-top: 30px;
  cursor: default;
}

.margin-bottom {
  margin-bottom: 130px;
}

.screen-header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  box-sizing: border-box;
  padding: 0px 5px;
}

.screen-header__title {
  display: flex;
}

.screen-header__title i {
  margin-right: 15px;
}

.screen-header__title h1 {
  font-size: 38px;
}

.screen-header__icons {
  padding-top: 13px;
  margin-right: -20px;
  cursor: pointer;
}

.screen-header__icons span {
  margin-right: 10px;
}
