.user-components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  transition: 0.5s;
}

.user-components:hover {
  box-shadow: 0px 0px 50px #747d8c;
  border-radius: 10px;
}

.margin-sm {
  margin-top: 10px;
}

.user-components__profile {
  display: flex;
  align-items: center;
}

.user-components__img {
  width: 50px;
  height: 50px;
  border-radius: 10% / 50%;
  border: none;
}

.img-sm {
  width: 40px;
  height: 40px;
}

.user-components__title {
  margin-left: 20px;
}

.user-components__title__column {
  display: flex;
  flex-direction: column;
}
.user-components__title__name {
  display: flex;
}
.user-components__title__column span {
  font-size: 13px;
  color: #95a5a6;
  margin-top: 10px;
}

.user-components__title__column i {
  margin-left: 10px;
  color: #f58484;
}

.user-components__name {
  font-size: 20px;
  cursor: default;
}

.name-sm {
  font-size: 15px;
}

.user-components__subtitle {
  font-size: 13px;
  color: var(--gray);
}

.user-components__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-components__info__time {
  font-size: 12px;
  color: #95a5a6;
}

.user-components__info__music-play {
  border: 3px solid #67eb8c;
  border-radius: 10% / 50%;
  background-color: var(--gray30);
  padding: 5px 10px;
  z-index: 1;
}

.user-components__info__music-play:hover {
  background-color: var(--gray);
}

.user-components__info__birthday {
  border: 3px solid #f58484;
  border-radius: 10% / 50%;
  background-color: var(--gray30);
  padding: 5px 10px;
  z-index: 2;
}

.user-components__info__birthday span {
  font-size: 13px;
}

.user-components__info__birthday:hover {
  background-color: var(--gray);
}

.user-components__info__pay {
  display: flex;
}

.user-components__info__pay__column {
  border: 2px solid #95afc0;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
}

.user-components__info__pay__column:last-child {
  margin-left: 10px;
}
